@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(237,111,28,1) 0%, rgba(31,30,32,1) 0%, rgba(0,0,0,1) 0%, rgba(134,64,17,1) 100%);
    color: #F8F8FF;
    font-family: 'Open Sans', sans-serif
}

h1, h2 {
    font-family: 'Creepster', cursive;
    color: #FF6B1A;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1A1A1A;
    height: 100px;
    margin-bottom: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.568);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    float: left;
    height: 90px;
    margin-left: 8%;
}

.navigation {
    float: right;
    background: transparent;
    padding: 1rem;
    margin-right: 10px;
}

.navitem {
    color: #F8F8FF;
    font-weight: 200;
    font-size: 1.2rem;
    text-decoration: none;
    margin-right: 50px;
}

.navitem:hover {
    color: #FF6B1A;
}


body.home {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(237,111,28,1) 0%, rgba(31,30,32,1) 0%, rgba(0,0,0,1) 0%, rgba(134,64,17,1) 100%);
    text-align: center;
    
}

.htable {
    font-family: 'Courier New', Courier, monospace;
    margin-left: 25%;
}

.hprogramma {
    font-size: 20px;
    color: #FF6B1A;
}

.accordion {
    width: 80%;
    background-color: black;
    color: #FF6B1A;
    padding-left: 8%;
}

.accordion-button {
    background-color: black;
    color: #FF6B1A;
}

.accordion-button:not(.collapsed) {
    background-color: black;
    color: #FF6B1A;
}

.accordion-body {
    background-color: #FF6B1A;
    color: black
}

.headermargin {
    margin-top: 110px;
}

.ftitelpadding {
    padding-left: 8%;
}